@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900& display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;

}
body{
    background-color: #1f242d;
    color:white  
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
#menu-icon {
    font-size: 3.6rem;
    display: none;
    color:white;
}
.logo{
    position: relative;
    font-size: 25px;
    text-decoration: none;
    font-weight: 600;
    color: white;
}
.navbar a{
    display: inline-block;
    font-size: 25px;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    color: white;

}
.navbar a:hover{
    color: red;
}
section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.home {
    display: flex;
    margin-left: 20px;
    margin-top: 100px;
    color:white;
}
.home-content h3 {
    font-size: 2.5rem;
    font-weight: 700;
}

.input {
    color:#0ef;
}
.home-content h3:nth-of-type(2) {
    margin-bottom:1.5rem;
}

.home-content h1 {
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.3;
}
.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid white;
    border-radius: 50%;
    font-size: 2rem;
    color: white;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.5s ease-in-out;
    text-decoration: none;
}

.social-media a:hover {
    background-color:white;
    color:#0ef;
    box-shadow: 0 0 1rem gray;
    transform: rotate(1000deg);
}
.home-img   {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-top: -80px;
    margin-left: 120px;
    overflow: hidden;
    border: 10px solid white;
    box-shadow: 5px 7px 25px rgba(0,0,0,0.5);
}

.home-img img {
    width: 100%;
    height: 100%;
    transition: 0.5s;
}
.home-img img:hover {
    transform: scale(1.2);
}

.home-content p {
    font-size: 1.3rem;
}
.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: #0ef;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #323946;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.5s ease;
    text-decoration: none;
}

.btn:hover {
    box-shadow: 0 0 1rem #0ef;

}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: #323946;
    width: 100%;
}

.about-img img {
    width: 35vw; 
} 
.aboutbtn{
    margin-top: 100px;
}
.about-content p{
    font-size: 1.5rem;
    margin-top: 50px;

}
.about-content h3{
    font-size:2rem ;
    margin-top: 100px;

}
.about-content h2{
    font-size: 2.5rem;

}
.about-content .heading{
    font-size:4.5rem;
}
.heading {
    text-align: center;
    font-size: 4.5rem;
    margin-bottom: 20px;
}

.blog h2 {
    margin-bottom: 5rem;
}

.blog-container {
    display: grid;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
}

.blog-container .blog-box {
    flex: 1 1 30rem;
    background:#323946;
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: 0.2rem solid var(--bg-color);
    transition: 0.5 ease;
}
.blog-container .blog-box:hover {
    border: 3px solid#0ef;
    transform: scale(1.03);
}
.blog-box i {
    font-size: 7rem;
    color: #0ef;
}

.blog-box h3 {
    font-size: 2.6rem;
}

.blog-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}
.btnskills{
    background-color: blanchedalmond;
    font-size: larger;
    border-radius: 10px;
    text-decoration: none;
    padding: 5px;
    color:#323946;
    font-weight: 500;
}
.projects {
    background:#323946;
}

.projects h2 {
    margin-bottom: 4rem;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2.5rem;
}

.projects-container .projects-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.projects-box img {
    width: 100%;
    height:350px;
}
.projects-box:hover img {
    width: 100%;
    transition: 0.5s ease;
}

.projects-box .projects-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.1),#0ef);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0.4rem;
    transform: translateY(100%);
    transition: 0.5s ease;
}    

.projects-box:hover .projects-layer {
    transform: translateY(0);

}

.projects-layer h4 {
    font-size: 3rem;
}
.contact h2 {
    margin-bottom: 3rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input, .contact form textarea {
    width: 100%;
    padding: 1.5rem;
    margin: 0.7rem 0;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: 0.8rem;
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    background: var(--main-color);
    border-radius: 0.8rem;
    transition: 0.5s ease;
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--second-bg-color);
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

@media (max-width:991px) {
    html {
        font-size: 55%;
    }
}

@media (max-width:991px) {
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .blog {
        padding-bottom: 7rem;
    }

    .projects {
        padding-bottom: 7rem;
    }
    .contact {
        min-height: auto;
    }
    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width:768px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        display: none;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: 0.1rem solid rgba(0,0,0,0.2);
        box-shadow: 0.5rem 1rem rgba(0,0,0,0.2);
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home {
        flex-direction: column;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-img img {
        width: 40vw;
        margin-top: 0rem;
    }

    .about {
        flex-direction: column-reverse;
    }

    .about img {
        width: 70vw;
        margin-top: 4rem;
    }
    .blog h2 {
        margin-bottom: 3rem;
    }

    .projects h2 {
        margin-bottom: 3rem;
    }

    .projects-container {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 617px) {
    .projects-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .home-img img {
        width:80vw;
    }

    .contact form .input-box input {
        width: 100%;
    }
}
@media (max-width: 365px) {
    .home-img img {
        width: 90vw;
        
    }
    .about-img img {
        width: 90vw;
    }

    .footer {
        flex-direction: column-reverse;
    }
    .footer p {
        text-align: center;
        margin-top: 2rem;
        }
}